.section-contact {
  color: white;
  min-height: 130vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.modal-content {
  background-color: #0f0f18 !important;
  color: white; 
}

.btn-close {
  display: none;
}

.modal-footer {
  border-top: none !important;
}

.sub-section-contact {
  padding-top: 20px;
  min-height: 90vh;
  background-color: #282836;
}

.title-contact {
  margin-top: 20px;
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.sub-title-contact {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #c9c9ca;
  margin-bottom: 50px;
}
.text-contact {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.col-md-1 .icon-contact {
  font-size: 40px;
  color: #74bfb0;
}
.desc-contact {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}

.form-contact {
  display: flex;
  justify-content: center;
}

/* Responsive Mobile */
@media only screen and (max-width: 600px) {
  .section-contact {
    width: 100%;
    padding: 20px;
  }
  .sub-section-contact {
    background-color: transparent;
  }
  .title-contact{
    font-size: 40px;
    margin-top: 70px;
  }
  .sub-title-contact{
    font-size: 16px;
  }
  .col-md-1{
    justify-content: center;
    display: flex;
  }
  .text-contact{
    text-align: center;
  }
  .desc-contact{
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .btn-contact{
    margin-bottom: 50px;
  }

}
