
.container-resume {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-profile {
  position: absolute;
  margin-top: -100px;
  margin-left: 70px;
  height: 680px;
  width: 403px;
}

.judul-aboutMe {
  font-size: 60px;
  font-weight: bold;
  margin-top: 30px;
}

.sub-judul-aboutMe {
  font-size: 28px;
  font-weight: bold;
  color: rgb(139, 233, 253);
}

.detail-aboutMe{
  font-size: 18px;
  margin-bottom: 50px;
}


/*Experience*/

.row-experience {
  min-height: 50vh;
  margin-bottom: 100px;
}

.judul-experience {
  text-align: center;
  margin-bottom: 30;
  margin-top: 30;
}

.box-tahun {
  margin-left: 70px;
  width: 400px;

}

.sub-box-tahun {
  width: 240px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
}


.detail-tahun {
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}

.garis-1 {
  position: absolute;
  width: 40px;
  height: 212px;
  left: 323px;
  top: 975px;
  border: 2px solid yellow;
  border-right: none;
}


.garis-2 {
  position: absolute;
  width: 40px;
  height: 217px;
  left: 323px;
  top: 1185px;
  border: 2px solid yellow;
  border-right: none;
}


.garis-3 {
  position: absolute;
  width: 40px;
  height: 212px;
  left: 995px;
  top: 975px;
  border: 2px solid yellow;
  border-right: none;
}



.garis-4 {
  position: absolute;
  width: 40px;
  height: 217px;
  left: 995px;
  top: 1185px;
  border: 2px solid yellow;
  border-right: none;
}





