p {
  font-size: 18px;
}
.container-resume {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-profile {
  position: absolute;
  margin-top: -100px;
  margin-left: 70px;
  height: 680px;
  width: 403px;
}

.col-about {
  background: rgb(40, 40, 54);
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
}

.judul-aboutMe {
  font-size: 60px;
  font-weight: bold;
  margin-top: 30px;
}

.sub-judul-aboutMe {
  font-size: 28px;
  font-weight: bold;
  color: rgb(139, 233, 253);
}

.detail-aboutMe {
  padding-right: 50px;
  font-size: 18px;
  margin-bottom: 50px;
}

/*Experience*/

.row-experience {
  min-height: 50vh;
  margin-bottom: 100px;
}

.judul-experience {
  text-align: center;
  margin-bottom: 30;
  margin-top: 30;
  font-weight: bold;
}

.box-tahun {
  margin-left: 70px;
  width: 500px;
}

.sub-box-tahun {
  width: 240px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  border: 1px solid rgb(255, 184, 108);
}

.sub-box-tahun-edu {
  width: 240px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  border: 1px solid rgb(139, 233, 253);

}

.sub-judul-exp {
  color: rgb(255, 184, 108);
  font-weight: bold;
}

.sub-judul-edu {
  color: rgb(139, 233, 253);
  font-weight: bold;
}

.detail-tahun {
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  color: rgb(245,205,148);
}

.detail-tahun-edu {
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  color: rgb(183 219 227);
}

.garis-1 {
  position: absolute;
  width: 40px;
  height: 200px;
  left: 323px;
  top: 970px;
  border: 1px solid rgb(255, 184, 108);
  border-right: none;
}

.garis-2 {
  position: absolute;
  width: 40px;
  height: 195px;
  left: 323px;
  top: 1170px;
  border: 1px solid rgb(255, 184, 108);
  border-right: none;
}

.garis-3 {
  position: absolute;
  width: 40px;
  height: 200px;
  left: 983px;
  top: 970px;
  border-top: none;
  border-bottom: none;
  border: 1px solid rgb(139, 233, 253);
  border-right: none;
}

.garis-4 {
  position: absolute;
  width: 40px;
  height: 195px;
  left: 983px;
  top: 1170px;
  border: 1px solid rgb(139, 233, 253);
  border-right: none;
}

/*Section skill*/

.row-skill {
  min-height: 50vh;
  margin-bottom: 50px;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
  background: rgb(40, 40, 54);
}

.title-design-skill {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}


.percent-angka {
  font-size: 20px;
}

/*Section code skill*/
.section-react {
  margin-bottom: 30px;
}
.circle-wrap-react {
  margin-left: 80px;
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
  background: rgb(69, 69, 90);
  border-radius: 50%;
}

.circle-wrap-react .circle .mask,
.circle-wrap-react .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap-react .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap-react .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: rgb(139, 233, 253);
}

.circle-wrap-react .circle .mask.full,
.circle-wrap-react .circle .fill {
  animation: fill-react ease-in-out 5s infinite;
}

@keyframes fill-react {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

.circle-wrap-react .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgb(40, 40, 54);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1.5em;
  color: rgb(139, 233, 253);
}

.title-coding {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-code {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.section-php {
  margin-bottom: 30px;
}

.circle-wrap-php {
  margin-left: 80px;
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
  background: rgb(69, 69, 90);
  border-radius: 50%;
}

.circle-wrap-php .circle .mask,
.circle-wrap-php .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap-php .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap-php .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: rgb(189, 147, 249);
}

.circle-wrap-php .circle .mask.full,
.circle-wrap-php .circle .fill {
  animation: fill-php ease-in-out 5s infinite;
}

@keyframes fill-php {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(140deg);
  }
}

.circle-wrap-php .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgb(40, 40, 54);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1.5em;
  color: rgb(189, 147, 249);
}

.circle-wrap-html {
  margin-left: 80px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  background: rgb(69, 69, 90);
  border-radius: 50%;
}

.circle-wrap-html .circle .mask,
.circle-wrap-html .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap-html .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap-html .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: rgb(255, 184, 108);
}

.circle-wrap-html .circle .mask.full,
.circle-wrap-html .circle .fill {
  animation: fill-html ease-in-out 5s infinite;
}

@keyframes fill-html {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(165deg);
  }
}

.circle-wrap-html .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgb(40, 40, 54);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1.5em;
  color: rgb(255, 184, 108);
}

.circle-wrap-python {
  margin-left: 80px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  background: rgb(69, 69, 90);
  border-radius: 50%;
}

.circle-wrap-python .circle .mask,
.circle-wrap-python .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap-python .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap-python .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: rgb(98, 114, 164);
}

.circle-wrap-python .circle .mask.full,
.circle-wrap-python .circle .fill {
  animation: fill-python ease-in-out 5s infinite;
}

@keyframes fill-python {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.circle-wrap-python .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgb(40, 40, 54);
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1.5em;
  color: rgb(98, 114, 164);
}

.row-knowedu {
  margin-bottom: 100px;
}

.col-knowedu {
  min-height: 50vh;
  background-color: rgb(40, 40, 54);
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
}

.title-knowedu {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-knowledge {
  margin-left: 100px;
  margin-bottom: 10px;
}

.sub-list {
  font-size: 24px;
  margin-left: 20px;
}

.icon-know {
  font-size: 20px;
}

.title-knowedu {
  font-weight: bold;
}

.row-serv {
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 50px;
}

.col-detail-serv h2 {
  font-size: 22px;
  font-weight: bold;
}

.container-resume .row-resume {
  margin-top: 200px;
  margin-bottom: 200px;
}

.percent-bar-figma {
   background: rgb(189, 147, 249);
   width: 390px;
   height: 27px;
   display: inline-block;

}

.percent-none-figma {
  background: rgb(69, 69, 90);
  width: 57px;
  height: 27px;
  display: inline-block;
}

.percent-angka-figma {
  margin-left: 380px;
  font-size: 20px;
}

.percent-bar-inkscape {
  background: rgb(139, 233, 253);
  width: 308px;
  height: 27px;
  display: inline-block;

}


.percent-none-inkscape {
  background: rgb(69, 69, 90);
  width: 139px;
  height: 27px;
  display: inline-block;
}

.percent-angka-inkscape {
  font-size: 20px;
  margin-left: 290px;
}

.percent-bar-illustrator {
  background: rgb(255, 184, 108);
  width: 363px;
  height: 27px;
  display: inline-block;
}

.percent-none-illustrator {
  background: rgb(69, 69, 90);
  width: 84px;
  height: 27px;
  display: inline-block;
}
.percent-angka-illustrator {
  font-size: 20px;
  margin-left: 350px;
}

.main-design {
  padding-left: 50px;
  padding-bottom: 30px;
}

.section-figma,
.section-inkscape,
.section-illustrator {
  margin-bottom: 30px;
}



/*Responsive Mobile*/
@media only screen and (max-width: 600px) {
  .garis-1,.garis-2,.garis-3,.garis-4{
    display: none;
  }



.row-serv {
  padding-left: 0;
  padding-right: 0;
}

  .icon-serv {
    margin-left: 0;
  }
  .img-profile {
    display: none;
  }
  .col-about {
    box-shadow: none;
  }
  .row-skill {
    box-shadow: none;
  }
  .col-knowedu {
    box-shadow: none;
  }
  .main-design {
  padding: 0;
  }
  .sub-title-design {
    font-size: 22px;
    font-weight: bold;
  }
  .title-code {
    font-size: 22px;
    font-weight: bold;
  }
  .container-resume .row-resume {
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .main-aboutMe {
    padding: 20px;
  }
  .detail-aboutMe {
    text-align: center;
    padding-right: 0;
    margin-bottom: 0;
  }
  .judul-aboutMe {
    font-size: 30px;
    text-align: center;
  }
  .sub-judul-aboutMe {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }

  .main-experience {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .sub-judul-exp,.sub-judul-edu {
    font-size: 20px;
  }
  .percent-bar-figma {
    width: 200px;
  }
  .percent-none-figma {
    width: 35px;
  }
  .percent-angka-figma {
    margin-left: 180px;
    font-size: 17px;
  }
  .percent-bar-inkscape {
    width: 160px;
  }
  .percent-none-inkscape {
    width: 75px;
  }
  .percent-angka-inkscape {
    margin-left: 145px;
    font-size: 17px;
  }
  .percent-bar-illustrator {
    width: 180px;
  }
  .percent-none-illustrator {
    width: 55px;
  }
  .percent-angka-illustrator {
    margin-left: 240px;
  }
  .percent-angka-illustrator {
    margin-left: 160px;
    font-size: 17px;
  }

  .circle-wrap-react,
  .circle-wrap-php,
  .circle-wrap-html,
  .circle-wrap-python{
    margin: auto;
    margin-bottom: 30px;
  }

  .section-react,
  .section-php,
  .section-html,
  .section-python {
    margin-bottom: 50px;
  }

  .title-coding {
    margin-bottom: 50px;
  }

  .list-knowledge {
    margin-left: 30px;
  }

  .core-section {
    padding: 30px;
  }
  .col-detail-serv {
    padding-left: 20px;
  }
  .col-detail-serv h2 {
    text-align: center;
  }
  .col-detail-serv p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  .col-icon-serv {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .sub-exp {
    width: 300px;
  }

  .sub-list {
    font-size: 22px;
  }

  .row-experience {
    margin-bottom: 10px;
  }

  .section-figma,
  .section-inkscape,
  .section-illustrator{
    width: max-content;
    margin: auto;
    margin-bottom: 30px;
  }

  .title-design-skill {
    margin-bottom: 50px;
  }

  .list-knowledge {
    margin: auto;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .list-knowledge .sub-list {
    font-size: 18px;
  }

  .box-tahun {
    max-width: 300px;
    margin:auto;
  }




}



